html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content {
    max-width: 300px; /* Adjust as needed */
    margin: 0 auto;
}

.modal-buttons {
    margin-top: 10px;
    text-align: center;
}

body {
    overflow: hidden; /* Prevent scrolling when the modal is open */
    background-color: rgba(255, 255, 255, 0.7); /* Faded background */
}
